<p><%= t(".hello", email: @resource.email) %></p>

<p><%= t(".announcement") %></p>

<p><%= link_to t(".change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".ignore_message") %></p>
<p><%= t(".notice_message") %></p>
